*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/compiler.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/copyright/profiles_settings.xml
/.idea/gradle.xml
/.idea/markdown-navigator/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

app/proguard-rules.pro

app/src/main/res/values/secrets.xml

.idea/markdown-navigator.xml

.idea/markdown-exported-files.xml
